body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 12px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 12px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 12px;
}

button, .title, .content {
  font-size: 16px;
}

button {
  display:block;
  background: white;
  border: 1px solid #eee;
  margin: 0px auto;
  padding: 12px 24px;
}